hr, .center {
    clear: both;
}

.center * {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

p:empty { 
    /* see https://discourse.gohugo.io/t/empty-p-p-tags-generated-when-using-shortcodes/3439 */
    display: none;
    margin: 0;
}

#content a .icon {

}

.active-menu:visited, .active-menu:link {
    font-weight: bold;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

header .menu div {
    text-align: center;
    margin: 0.5em;
    text-transform: uppercase;
    border: none;
}

header .menu a:hover {
    font-weight: bold;
    letter-spacing: 0.1em; 
    color: white !important;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #58afd1, 0 0 35px #58afd1, 0 0 45px #58afd1, 0 0 55px #58afd1, 0 0 65px #58afd1;
  }
  to {
    text-shadow: 0 0 15px #fff, 0 0 25px #154da6, 0 0 35px #154da6, 0 0 45px #154da6, 0 0 55px #154da6, 0 0 65px #154da6, 0 0 75px #154da6;
  }
}

footer .footer-wrapper {
    font-size: 80%;
    max-width: 90%;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.3;
  padding: 0.75em 1em;
  letter-spacing: 0.05rem;
  margin: 0.5em auto 0.5em auto;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

#content figure {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content .logo {
    display: inline-block;
    margin: 0;
}

#content img.logo {
    vertical-align: middle;
    max-height: 15vh;
    text-decoration: none;
}

#content figure.logo a {
    text-decoration: none;
    border: none;
}

#content figure.logo img {
    padding: 5px;
    max-height: 15vh;
    vertical-align: middle;
    text-decoration: none;
}

#content:not(.portfolio, .software) figure img {
    /*width: initial;*/
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#content .slideshare {
    max-width: 95%;
    max-height: 100%;
    height: 500px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#content .main-img {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content .main-img img {
    object-fit: contain;
    max-height: 45vh;
    width: 100%;
}

.inline-svg {
  display: inline-block;
  top: 0.25rem;
  position: relative;
  text-align: center;
}

.inline-svg svg {
  max-width: 100%;
  max-height: 100%;
}

a.icon {
  border: none;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem; /* Optional spacing between tags */
}

.tag-cloud a {
  line-height: 1;
  text-decoration: none;
  border: none;
  display: inline-block;
  transition: 0.3s ease all;
}

.tag-cloud a:hover {
    transform: scale(1.3);
}

.simple-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.simple-cards .card-container {
    height: 20vh;
    max-height: 20em; 
}

.simple-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.simple-card img {
    object-fit: contain;
    height: 100%;
	  background: white;
    width: 100%;
}

.simple-card .img-icon {
    object-fit: contain;
    height: 100%;
	  background: white;
    width: 100%;
    text-align: center;
}

.simple-card h2 {
    font-size: 20px;
    display: block;
}

.detail-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: stretch; 
    padding-bottom: 1rem;
}

.detail-cards .detail-card-container {
    height: 38vh;
    max-height: 25em;
}

.detail-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;  
  height: 100%;
}

.detail-card .image {
  width: 100%;
  height: 5rem;
}

.detail-card .side-image {
  width: 6rem;
  height: 100%;
}

.detail-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-card .vertical {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  min-height: 0;
  height: 100%;
}


.detail-card .horizontal {
  display: flex;
  flex-direction: row;
  min-width: 0;
  width: 100%;
  min-height: 0;
  height: 100%;
}

.detail-card h2 {
  display: block;
  padding: 0.7rem 1rem 0;
  margin: 0;
  font-size: 1.25rem;
  line-height: normal;
}

.detail-card .card-info {
  padding: 0.3rem 1rem 0;
  font-size: 0.8rem;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.detail-card .summary {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  text-overflow: ellipsis;
  min-height: 0;
}

.detail-card p {
  margin: 0;
  text-align: left;
}

.detail-card .card-footer {
  padding: 0 1rem;
  font-size: 0.8rem;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;   
  margin-top: auto;
  z-index: 20;
}

.tech-icons {
  display: flex;
  gap: 0.1rem;
  flex-wrap: wrap;
  align-items: center;
}

.card-link {
  position: absolute;
  inset: 0;
  z-index: 10;
  content: "";
  display: block;
  border: none !important;
}

.portfolio-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: stretch; 
    padding-bottom: 1rem;
}

.portfolio-cards .portfolio-card-container {
    height: 38vh;
    max-height: 25em;
}

.tech-term-cards {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}

.tech-term-cards .card-container {
    height: 110px;
}

.post-cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.post-cards .post-card-container {
  height: 11.5rem;
}
